<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean都是具体的类-->
    <bean id="floppy" class="demo.c.FloppyWriter"/>
    <bean id="usb" class="demo.c.USBWriter"/>

    <bean id="business" class="demo.c.Business">
        <!-- property：class中含有setter的成员域 Type 2 IoC -->
        <!-- <property name="deviceWriter" ref="floppy"/> -->
        <!-- 构造方法 Type 3 IoC -->
        <constructor-arg ref="floppy"/>
    </bean>
</beans>